{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="flex flex-col gap-8 items-center bg-[#141518] p-4 md:p-20">
        <h2 class="md:text-3xl text-xl text-white mb-4">მომსახურეობა</h2>
        <div class="flex-wrap rounded-xl shadow-xl gap-2 bg-[#141518] p-4 w-full flex border-2 border-white">
            <img class="md:w-[25%]  w-full rounded-xl" src="{% static 'images/craftsman.png' %}" alt="service"/>
            <div class="flex flex-col gap-2 md:gap-8 items-center justify-center text-white md:w-[65%]  md:p-8">
                <p class="text-lg">ელექტრო ხარაჩოების შეკეთება</p>
                <p class="text-sm">
                    გესაჭიროებათ სანდო და გამოცდილი ხელოსნებისგან შეკეთების სერვისი?
                    ჩვენი ტექნიკოსების გუნდი მზად არის, რათა მოგაწოდოთ უმაღლესი
                    დონის სარემონტო და ტექნიკური მომსახურეობა თქვენი ელექტრო
                    ხარაჩოების სისტემებისთვის. ინდუსტრიაში მრავალწლიანი გამოცდილების
                    დაგროვების შემდგომ, ჩვენ შევიძინეთ რეპუტაცია მაღალი ხარისხის
                    ოსტატობით და მომხმარებლისთვის განსაკუთრებული მომსახურების
                    მიწოდებით.
                </p>
            </div>
        </div>
        <div class="flex-wrap rounded-xl shadow-xl gap-2 bg-[#141518] p-4 w-full flex border-2 border-white">
            <img
                    class="md:w-[25%]  w-full rounded-xl"
                    src="{% static 'images/safety-contractor.png' %}"
                    alt="service"
            />
            <div class="flex flex-col gap-2 md:gap-8 items-center justify-center text-white md:w-[65%]  md:p-8">
                <p class="text-lg">უსაფრთხოება და დოკუმენტაცია</p>
                <p class="text-sm">
                    გესაჭიროებათ სანდო და გამოცდილი უსაფრთხოების სპეციალისტი, რათა
                    უზრუნველყოს თქვენი სამშენებლო პროექტების უსაფრთხოება და
                    მოამზადოს შესაბამისი საბუთები? ჩვენი ერთგული უსაფრთხოების
                    სპეციალისტების გუნდი აქ არის, რათა უზრუნველყოს სამშენებლო
                    ობიექტზე უსაფრთხოების სტანდარტების დაცვა და ჩაატაროს ექსპერტიზა
                    თქვენი მუშაკების დასაცავად. შეადგინოს შესაბამისი დოკუმენტაცია და
                    წარგიდგინოთ უსაფრთხოების დამადასტურებელი საბუთი.
                </p>
            </div>
        </div>
    </div>
{% endblock %}