{% load static %}
<div class="w-screen h-[300px] md:h-[500px] flex items-center justify-center relative">

    <div class="swiper h-full w-full">
        <div class="swiper-wrapper w-full h-full">
            <div class="swiper-slide w-full h-full">
                <img class="object-cover  w-full h-full"
                     src="{% static 'images/swiper_image3.jpeg' %}" alt="ლულკა">
            </div>
            <div class="swiper-slide w-full h-full">
                <img class="object-cover  w-full h-full"
                     src="{% static 'images/swiper_image1.png' %}"
                     alt="ხარაჩოები გაქირავება">
            </div>
            <div class="swiper-slide w-full h-full">
                <img class="object-cover w-full h-full"
                     src="{% static 'images/swiper_image2.png' %}"
                     alt="ლულკები ქირავდება">
            </div>
            <div class="absolute bg-black w-full h-full z-[5] opacity-20"></div>
            <div class="slogan flex flex-col text-xl justify-center  absolute z-10 text-white left-5 bottom-5 md:left-20 md:bottom-20 gap-2">
                <h1 class="drop-shadow-xl text-sm md:text-lg">
                    გააუმჯობესეთ თქვენი პროექტები CER-თან ერთად
                </h1>
                <h1 class="drop-shadow-xl text-sm md:text-lg">
                    სადაც ხარისხს მოაქვს ეფექტურობა
                </h1>
                <a href="tel:+995568888068"
                   class="drop-shadow-xl text-white bg-blue-950 px-4 py-2 rounded-xl w-fit text-sm md:text-lg">
                    დაგვიკავშირდი
                </a>
            </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
